// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
$text-font-stack: 'Raleway', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
$code-font-stack: 'Montserrat', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Colors
$color-white: rgb(255, 255, 255) !default; // Main text color
$color-brand: rgb(255, 231, 69) !default; // Brand color
$color-oslo-gray: rgb(131, 134, 141) !default; // Light text color
$color-fiord: rgba(76, 87, 114) !default;  // Main background color
$color-shark: rgba(26, 29, 37) !default; // Secondary background color
$color-woodsmoke: rgba(17, 19, 22) !default; // Footer secondary background color


/// Container's maximum width
$max-width: 1320px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
) !default;
